<%- include('../parts/head', {bot, user, path}) %>
<title>Add Server | Discord Servers</title>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-vcodes pt-5">
            <h3 class="has-text-white is-size-3" style="margin-bottom: 10px;"> </h3>
            <p class="has-text-white">&raquo&raquo Adding Server</p>
            <p class="text-muted">
                &raquo <strong>Add Bot</strong>
                <br>&raquo First of All Add Our Servers List Invite Link -
                
                 <button onclick="location.href='https://discord.com/oauth2/authorize?client_id=849617280245432340&permissions=93185&scope=bot'" class="btn btn-back"><i class="fad fa-check"></i>&nbsp;Invite</button>
                
                <br>&raquo <strong>Setting Up</strong>
                <br>&raquo After Inviting The Bot Contact Any Server Staff To Follow Ahead Instructions.
                <br>&raquo Go in Your Servers List - 
                   <button onclick="location.href='https://dumbbotlist.tk/servers/me'" class="btn btn-back"><i class="fad fa-check"></i>&nbsp;Servers</button>
                <br>&raquo Then Simply Find The Server Which You want to Upload And Click on Add This Server On That Server Card Footer
                <br>&raquo After Going On Server Add Give Your Credits Like Tags, Co-Owners, Short Description And ALL
                <br>&raquo Dont Forget To Give Your Server Invite Link Which Should be Permenant xd.
                <br>&raquo IF You have Completed All Above Steps Then Click Below Button to See Servers List.
                </p>
            <br>
  
       
                <button onclick="location.href='/servers'" class="btn btn-back"><i class="fad fa-check"></i>&nbsp;Click Here</button>
          
           
    </center>
</div>

<%- include('../parts/foot') %>
